<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>detail comment</title>
  </head>
  <body>
    <h1>this detail comment page</h1>
    <a href="/comments">back to list comments</a>
    <br />
    <br />
    <h3><%= comment.id %></h3>
    <h3><%= comment.username %></h3>
    <p><%= comment.textcomment %></p>
  </body>
</html>
