<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <h1>Welcome to the homepage</h1>
    <h3><%= 10+5 %></h3>
    <p>
      This is the homepage of the application. You can navigate to the
      <a href="/about">about page</a> or the <a href="/rand">Random page</a>.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, nam!
      Sint nulla labore vero vel, accusantium laboriosam sed quis quidem.
    </p>
  </body>
</html>
