<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random</title>
  </head>
  <body>
    <h2>test page</h2>
    <h3><%= num %></h3>
    <% if(num%2==0){%>
    <h4>angka genap</h4>
    <%} else {%>
    <h4>angka ganjil</h4>
    <%}%>
  </body>
</html>
